/* Universal selector */
/* -------------------*/
:root {
    /* --primary-color: rgb(45, 11, 104); */
    --primary-color: rgb(54, 87, 137);
    /* --primary-color-border:rgb(91, 22, 210); */
 /*    --primary-color-border:rgb(9, 112, 221); */
    --secondary-color: rgb(227, 94, 94);
    --highlight-color:rgb(253, 214, 57);
    --background_color: #d9dcd6;
    --forename-standout-color: #fff;
    
    

    --standard-padding: 10px 25px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element type selectors */
/* -----------------------*/


/* Top header and navigation */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding: 20px;
    /* padding: 0 2%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: #fff;
    position:relative;   /* Works better but doesnt make header colour area bigger */
}

header h1.forename {
    color: var(--forename-color);
}
header h1 .surname {
    color:  var(--secondary-color);
}

header nav {
    justify-self: flex-end;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;    
/*     position: relative; */
 /*    float: right; */
}

header nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 25px;
}


a:hover {
    color: var(--highlight-color);
    cursor: pointer;
}



/* The hero image */
.hero-image {
   background-image:  url("../../images/swirly-banner.jpg");
   
    /* Set a specific height */
     height: 500px; 
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
  }

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
  } 

main {
    grid-column: 1 / 3; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'section-1 section-1 section-1'
        'section-2 section-2 section-2'
        'section-3 section-3 section-3';
    gap: 15px;
}

main section {
    background-color: var(--primary-color);
    border: 3px var(--primary-color-border);
    padding:15px;
}

main section h3 {
    border-right: 7px solid #fff;
    color:#fff;
    text-align:right;
    padding-right:10px;
}

.section-one {
    grid-area: section-1;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'about-me-header about-me-body';
}

.about-me-header {
    grid-area: about-me-header;
}

.about-me-body {
    grid-template-areas: about-me-body;
    color:var(--secondary-color);
    padding:5%;
}

.irene_img {
    border-radius: 50%;
  }

.section-two {
    grid-area: section-2;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'project-header project-body';
}


.project-header {
    grid-area: project-header;
}

.project-body {
    grid-template-areas: project-body;
    color:var(--secondary-color); 
    padding:5%;
}

.section-three {
    grid-area: section-3;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'contact-header contact-body';
}


.contact-header {
    grid-area: contact-header;
}

.contact-body {
    grid-template-areas: contact-body;
    color:var(--secondary-color); 
    padding:5%;
}

body {
    background-color: var(--background_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer h2 {
    font-size: 20px;
} */


/* Media Queries */
/* anything from 0 to max 768 */
@media(max-width: 768px) {
    main section {
       /* background: rgb(78, 228, 178);  *//* for test only */
       /*  grid-template-areas: */
       grid-template-areas: 
       'section-1 section-1'
       'section-2 section-2'
       'section-3 section-3';
       grid-template-columns: 1fr 2fr;
    }

    
    header nav a {
        margin-left: 25px;
        font-size:10px;
    }


}